/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import '_variables';
@import '_mixins';

html,
body {
  height: 100%;
  margin: 0rem;
  padding: 0rem;
  overflow: auto;
}

body {
  @include page-background;
  color: $site-color-light;
  font-family: $font-family;
  text-align: center;

  @media (max-width: $breakpoint-medium) {
    // Use a variant of the background image in portrait orientation
    // to make the background look better on smaller devices
    background-image: $background-file-portrait;
  }
}
