<div class="container">
  <header>
    <h2>TitanStar Legends - Rune Mastery Loadout Talent Calculator 9000</h2>
  </header>

  <div class="rune-calculator">

    <div class="rune-tree">

      <div class="rune-path">
        <p>TALENT PATH 1</p>
        <button *ngFor="let rune of runePath1" class="rune" [ngClass]="{'active' : isSelected(rune.name)}" (click)="select(rune.name)" (contextmenu)="deselect(rune.name)">
          <span [ngClass]="'icon-' + rune.name"></span>
        </button>
      </div>

      <div class="rune-path">
        <p>TALENT PATH 2</p>
        <button *ngFor="let rune of runePath2" class="rune" [ngClass]="{'active' : isSelected(rune.name)}" (click)="select(rune.name)" (contextmenu)="deselect(rune.name)">
          <span [ngClass]="'icon-' + rune.name"></span>
        </button>
      </div>

    </div>

    <div class="points-container">
      <div class="points">{{currentPoints}} / {{totalPoints}}</div>
      <div class="points-label">Points Spent</div>
    </div>

  </div>

</div>
