<div>
  <header>
    <h2>TitanStar Legends - Rune Mastery Loadout Talent Calculator 9000</h2>
  </header>

  <div class="talent-calculator">

    <div class="talent-tree">

      <div class="talent-path">
        <div class="talent-path-title">
          <p>TALENT PATH 1</p>
        </div>
        <button class="talent" *ngFor="let talent of talentPath1" [ngClass]="{'active' : isSelected(talent.name)}" (click)="select(talent.name)" (contextmenu)="deselect(talent.name)">
          <span [ngClass]="'icon-' + talent.name"></span>
        </button>
      </div>

      <div class="talent-path">
        <p>TALENT PATH 2</p>
        <button class="talent" *ngFor="let talent of talentPath2" [ngClass]="{'active' : isSelected(talent.name)}" (click)="select(talent.name)" (contextmenu)="deselect(talent.name)">
          <span [ngClass]="'icon-' + talent.name"></span>
        </button>
      </div>

    </div>

    <div class="points-container">
      <div class="points">{{spentPoints}} / {{totalPoints}}</div>
      <div class="points-label">Points Spent</div>
    </div>

  </div>

</div>
